<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>АХН - @ViewData["Title"]</title>

    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css/bootstrap.css.map" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css/bootstrap.min.css/bootstrap.min.css.map" rel="stylesheet">

    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css/bootstrap-grid.css.map" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css/bootstrap-grid.min.css/bootstrap-grid.min.css.map" rel="stylesheet">

    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.css/bootstrap-grid.min.css.map" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.css/bootstrap-reboot.min.css/bootstrap-reboot.min.css.map" rel="stylesheet">

    <!-- favicon -->
    <link href="~/img/favicon.png" rel=icon>

    
    <link href="~/css/NavBar.css" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar">

    <div class="uc-mobile-menu-pusher">
        <div class="content-wrapper">
            <section id="header_section_wrapper" class="header_section_wrapper">
                <div class="container">
                    <div class="header-section">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="left_section">
                                    <span class="date">
                                        Суббота .
                                    </span>
                                    <!-- Date -->
                                    <span class="time">
                                        09 Августа . 2021
                                    </span>
                                    <!-- Time -->
                                </div>
                                <!-- Left Header Section -->
                            </div>
                            <div class="col-md-4">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="/img/GoodNewsAggregatorLogo.png"
                                             alt="GoodNewsAggregatorLogo">
                                    </a>
                                </div>
                                <!-- Logo Section -->
                            </div>
                            <div class="col-md-4">
                                <div class="right_section">
                                    <ul class="nav navbar-nav">
                                        <li><a href="#">Войти</a></li>
                                        <li><a href="#">Регистрация</a></li>
                                    </ul>
                                    <!-- Login Section -->

                                    <ul class="nav-cta hidden-xs">
                                        <li class="dropdown">
                                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                                <i class="fa fa-search"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <div class="head-search">
                                                        <form role="form">
                                                            <!-- Input Group -->
                                                            <div class="input-group">
                                                                <input type="text" class="form-control"
                                                                       placeholder="Введите что-нибудь"> <span class="input-group-btn">
                                                                    <button type="submit"
                                                                            class="btn btn-primary">
                                                                        Найти
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <!-- Search Section -->
                                </div>
                                <!-- Right Header Section -->
                            </div>
                        </div>
                    </div>
                    <!-- Header Section -->

                    <div class="navigation-section">
                        <nav class="navbar m-menu navbar-default">
                            <div class="container">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                            data-target="#navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="#navbar-collapse-1">
                                    <ul class="nav navbar-nav main-nav">
                                        <li class="active"><a href="index.html">Новости</a></li>
                                        <li><a href="category.html">Страница2</a></li>
                                        <li><a href="blog.html">Страница3</a></li>
                                        <li><a href="blog.html">Страница4</a></li>
                                        <li><a href="blog.html">Страница5</a></li>
                                        <li><a href="blog.html">Страница6</a></li>
                                        <li class="dropdown m-menu-fw">
                                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                                Другое
                                                <span><i class="fa fa-angle-down"></i></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <div class="m-menu-content">
                                                        <ul class="col-sm-3">
                                                            <li class="dropdown-header">Заголовки</li>
                                                            <li><a href="#">Заголовок1</a></li>
                                                            <li><a href="#">Заголовок2</a></li>
                                                            <li><a href="#">Заголовок3</a></li>
                                                            <li><a href="#">Заголовок4</a></li>
                                                            <li><a href="#">Заголовок5</a></li>
                                                        </ul>
                                                        <ul class="col-sm-3">
                                                            <li class="dropdown-header">Заголовки</li>
                                                            <li><a href="#">Заголовок1</a></li>
                                                            <li><a href="#">Заголовок2</a></li>
                                                            <li><a href="#">Заголовок3</a></li>
                                                            <li><a href="#">Заголовок4</a></li>
                                                            <li><a href="#">Заголовок5</a></li>
                                                        </ul>
                                                        <ul class="col-sm-3">
                                                            <li class="dropdown-header">Заголовки</li>
                                                            <li><a href="#">Заголовок1</a></li>
                                                            <li><a href="#">Заголовок2</a></li>
                                                            <li><a href="#">Заголовок3</a></li>
                                                            <li><a href="#">Заголовок4</a></li>
                                                            <li><a href="#">Заголовок5</a></li>
                                                        </ul>
                                                        <ul class="col-sm-3">
                                                            <li class="dropdown-header">Заголовки</li>
                                                            <li><a href="#">Заголовок1</a></li>
                                                            <li><a href="#">Заголовок2</a></li>
                                                            <li><a href="#">Заголовок3</a></li>
                                                            <li><a href="#">Заголовок4</a></li>
                                                            <li><a href="#">Заголовок5</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- .navbar-collapse -->
                            </div>
                            <!-- .container -->
                        </nav>
                        <!-- .nav -->
                    </div>
                    <!-- .navigation-section -->
                </div>
                <!-- .container -->
            </section>
            <!-- header_section_wrapper -->

            <div class="container body-content">
                @RenderBody()
            </div>

            <section id="footer_section" class="footer_section">
                <div class="footer_bottom_Section">
                    <div class="container">
                        <div class="row">
                            <div class="footer">
                                <div class="col-sm-3">
                                </div>
                                <div class="col-sm-6">
                                    <p>&copy; 2021-Агрегатор Хороших Новостей . Дизайн: <a href="#">Юрий Иванов</a> </p>
                                </div>
                                <div class="col-sm-3">
                                    <p>Только Хорошие Новости</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</body>

</html>