@model GoodNewsAggregator.Models.ViewModels.Account.RegisterViewModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "Регистрация";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Вход</title>
    <link href="~/css/logging.css" rel="stylesheet" type="text/css" />
    <link href="~/img/" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
    <link rel="icon" href="http://vladmaxi.net/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="http://vladmaxi.net/favicon.ico" type="image/x-icon" />
</head>
<body>
    <div id="wrapper">
        <div class="user-icon"></div>
        <div class="pass-icon"></div>

        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <form class="login-form" asp-action="Register" asp-controller="Account" asp-antiforgery="true" method="post">

            <div class="header form-group">
                <h1>Регистрация</h1>
                <span>Введите ваши регистрационные данные для регистрации на сайте как пользователь. </span>
            </div>

            <div class="content form-group" autocomplete="off">
                <div>
                    <label asp-for="Email">Введите Email</label>
                    <input class="input username" type="text" asp-for="Email" onfocus="this.value=''" />
                    <span asp-validation-for="Email"></span>
                </div><br />
                <div>
                    <label asp-for="FullName">Введите Имя</label>
                    <input class="input username" type="text" asp-for="FullName" onfocus="this.value=''" />
                    <span asp-validation-for="FullName"></span>
                </div><br />
                <div>
                    <label asp-for="Password">Введите пароль</label>
                    <input class="input password" type="password" asp-for="Password" onfocus="this.value=''" />
                    <span asp-validation-for="Password"></span>
                </div><br />
                <div>
                    <label asp-for="PasswordConfirmation">Повторите пароль</label>
                    <input class="input password" type="password" asp-for="PasswordConfirmation" onfocus="this.value=''" />
                    <span asp-validation-for="PasswordConfirmation"></span>
                </div><br />
            </div>

            <div class="footer form-group text-center">
                <input asp-action="Register" type="submit" name="submit" value="Регистрация" class="button" />
            </div>
        </form>
    </div>
    <div class="gradient"></div>
    <a class="login-register-back-link" asp-action="AllNews">&nbsp;На главную</a>

    @section Scripts
    {
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $(".username").focus(function () {
                $(".user-icon").css("left", "-48px");
            });
            $(".username").blur(function () {
                $(".user-icon").css("left", "0px");
            });

            $(".password").focus(function () {
                $(".pass-icon").css("left", "-48px");
            });
            $(".password").blur(function () {
                $(".pass-icon").css("left", "0px");
            });
        });
    </script>
</body>
</html>
