body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.33333333;
    color: #000;
    position: relative;
    min-width: 975px;
    /*  background: #e6e6e6;*/
    -webkit-font-smoothing: antialiased;
}

.news {
    background: #e6e6e6;
}

.entity_title {
    line-height: 42px;
    font-size: 24px;
    font-weight: 700;
}

h1 {
    /*background: #ffe8d5;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    /*border-radius: 7px;*/
}

.main-header {
    background: #ffe8d5;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border-radius: 7px;
}

a {
    color: #0a58ca;
    text-decoration: none;
}

    a:hover {
        color: #c60a00;
    }

.card {
    margin: 8px;
    border-radius: 7px;
}

.time:lang(ru) {
}

#paginationEllipsis {
    padding-top: 10px;
}

* {
    margin: 0;
    padding: 0;
}

.content {
    min-height: calc(100vh - 80px);
}

.news-text {
    min-height: calc(100vh - 80px);
}

.b-article {
    min-height: calc(100vh - 80px);
}

.news-one-data {
    min-height: calc(100vh - 80px);
}

.stk-post stk-layout_4col_4203 stk-theme_9740 wp-exclude-emoji {
    min-height: calc(100vh - 80px);
}

#article_body {
    min-height: calc(100vh - 80px);
}

.body-content {
    min-height: calc(100vh - 80px);
}

