@using GoodNewsAggregator.Models.ViewModels.Comment;
@model CommentsListViewModel
@{
    Layout = null;
}

<div class="row container">
    <input type="hidden" id="newsId" name="newsId" value="@Model.NewsId" />
    <div class="col-sm-12">
        <label for="commentText">Оставить комментарий:</label>
        <textarea name="commentText" class="form-control" id="commentText" rows="3"></textarea>
    </div><br /><br />

    <br /> <br /> <br /> <br /><div class="col-sm-12">
        <button class="btn btn-primary write-comment-btn" id="create-comment-btn">Отправить</button>
    </div>
</div>