@using GoodNewsAggregator.Models.ViewModels.Comment;
@model CommentsListViewModel

@{
    Layout = null;
}

<div class="container" id="above-add-comments-section">
    <div id="comments-container" class="row">
        @foreach (var comment in Model.Comments)
        {
            @await Html.PartialAsync("Comment", comment)
        }
    </div>    

    <hr/>
    <p id="login-to-see-comments">Войдите как пользователь, чтобы иметь возможность оставлять комментарии.</p>
    @*@await Html.PartialAsync("CreateCommentPartial")*@
</div>