@model GoodNewsAggregator.Models.ViewModels.News.AggregateNewsViewModel

@{
    ViewData["Title"] = "Загрузка Новостей";
}

<h1>Загрузка Новостей</h1>

<h3>Вы уверены, что хотите загрузить еще новости? Это может занять некоторое время.</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Aggregate">
            <input type="submit" value="Загрузить" class="btn btn-danger" /> |
            <a asp-action="AllNews">На главную</a>
        </form>
    </div>
</div>
@for (int i = 0; i < 20; i++)
{
    <br />
}

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section User
{
    <p>@Model.Name - @Model.Email</p>
}*@