@model IEnumerable<GoodNewsAggregator.DAL.Core.Entities.News>
@{
    ViewData["Title"] = "All News";
}


<section id="entity_section" class="entity_section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="entity_wrapper">
                    <div class="entity_title">
                        <h1>
                            <a href="single.html" target="_self">Airbnb launches photo-centric app for iPads and Android tablets.</a>
                        </h1>
                    </div>
                    <!-- entity_title -->

                    <div class="entity_meta">
                        <a href="#">10Aug- 2015</a>, by: <a href="#">Eric joan</a>
                    </div>
                    <!-- entity_meta -->

                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-full"></i>
                    </div>
                    <!-- rating -->

                    <div class="entity_social">
                        <a href="#" class="icons-sm sh-ic">
                            <i class="fa fa-share-alt"></i><b>424</b>
                            <span class="share_ic">Shares</span>
                        </a>
                        <a href="#" class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>
                        <!--Twitter-->
                        <a href="#" class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>
                        <!--Google +-->
                        <a href="#" class="icons-sm inst-ic"><i class="fa fa-google-plus"> </i></a>
                        <!--Linkedin-->
                        <a href="#" class="icons-sm tmb-ic"><i class="fa fa-ge"> </i></a>
                        <!--Pinterest-->
                        <a href="#" class="icons-sm rss-ic"><i class="fa fa-rss"> </i></a>
                        <span class="arrow">&raquo;</span>
                    </div>
                    <!-- entity_social -->

                    <div class="entity_thumb">
                        <img class="img-responsive" src="assets/img/category_img_top.jpg" alt="feature-top">
                    </div>
                    <!-- entity_thumb -->

                    <div class="entity_content">
                        <p>
                            But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I
                            will give you a complete account of the system, and expound the actual teachings of the great explorer of
                            the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself,
                            because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter
                            consequences that are extremely painful.
                        </p>
                    </div>
                    <!-- entity_content -->

                </div>
                <!-- entity_wrapper -->

                <div class="entity_wrapper">
                    <div class="entity_title">
                        <h1>
                            <a href="single.html" target="_self">Airbnb launches photo-centric app for iPads and Android tablets.</a>
                        </h1>
                    </div>
                    <!-- entity_title -->

                    <div class="entity_meta">
                        <a href="#">10Aug- 2015</a>, by: <a href="#">Eric joan</a>
                    </div>
                    <!-- entity_meta -->

                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-full"></i>
                    </div>
                    <!-- rating -->

                    <div class="entity_social">
                        <a href="#" class="icons-sm sh-ic">
                            <i class="fa fa-share-alt"></i><b>424</b>
                            <span class="share_ic">Shares</span>
                        </a>
                        <a href="#" class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>
                        <!--Twitter-->
                        <a href="#" class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>
                        <!--Google +-->
                        <a href="#" class="icons-sm inst-ic"><i class="fa fa-google-plus"> </i></a>
                        <!--Linkedin-->
                        <a href="#" class="icons-sm tmb-ic"><i class="fa fa-ge"> </i></a>
                        <!--Pinterest-->
                        <a href="#" class="icons-sm rss-ic"><i class="fa fa-rss"> </i></a>
                        <span class="arrow">&raquo;</span>
                    </div>
                    <!-- entity_social -->

                    <div class="entity_content">
                        <p>
                            But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I
                            will give you a complete account of the system, and expound the actual teachings of the great explorer of
                            the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself,
                            because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter
                            consequences that are extremely painful.
                        </p>
                    </div>
                    <!-- entity_content -->

                </div>
                <!-- entity_wrapper -->

                <div class="category_article_wrapper">
                    <div class="entity_title">
                        <h1>
                            <a href="single.html" target="_self">Airbnb launches photo-centric app for iPads and Android tablets.</a>
                        </h1>
                    </div>
                    <!-- entity_title -->

                    <div class="entity_meta">
                        <a href="#">10Aug- 2015</a>, by: <a href="#">Eric joan</a>
                    </div>
                    <!-- entity_meta -->

                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-full"></i>
                    </div>
                    <!-- rating -->

                    <div class="entity_social">
                        <a href="#" class="icons-sm sh-ic">
                            <i class="fa fa-share-alt"></i><b>424</b>
                            <span class="share_ic">Shares</span>
                        </a>
                        <a href="#" class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>
                        <!--Twitter-->
                        <a href="#" class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>
                        <!--Google +-->
                        <a href="#" class="icons-sm inst-ic"><i class="fa fa-google-plus"> </i></a>
                        <!--Linkedin-->
                        <a href="#" class="icons-sm tmb-ic"><i class="fa fa-ge"> </i></a>
                        <!--Pinterest-->
                        <a href="#" class="icons-sm rss-ic"><i class="fa fa-rss"> </i></a>
                        <span class="arrow">&raquo;</span>
                    </div>
                    <!-- entity_social -->

                    <div class="row">
                        <div class="col-md-7">
                            <div id="featured-news-carousal" class="carousel slide" data-ride="carousel">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img class="img-responsive" src="assets/img/category_img9.jpg" alt="Chania">
                                    </div>
                                    <!--feature_news_item-->
                                    <div class="item">
                                        <img class="img-responsive" src="assets/img/category_img13.jpg" alt="Chania">
                                    </div>
                                    <!--feature_news_item-->
                                    <div class="item">
                                        <img class="img-responsive" src="assets/img/category_img14.jpg" alt="Chania">
                                    </div>
                                    <!--feature_news_item-->
                                    <div class="item">
                                        <img class="img-responsive" src="assets/img/category_img15.jpg" alt="Chania">
                                    </div>
                                    <!--feature_news_item-->
                                    <!-- Left and right controls -->
                                    <div class="control-wrapper">
                                        <a class="left carousel-control" href="#featured-news-carousal" role="button" data-slide="prev">
                                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                        </a>
                                        <a class="right carousel-control" href="#featured-news-carousal" role="button"
                                           data-slide="next"> <i class="fa fa-chevron-right" aria-hidden="true"></i> </a>
                                    </div>

                                </div>
                                <!--carousel-inner-->

                            </div>
                            <!--carousel-->

                        </div>
                        <!-- col-md-7 -->

                        <div class="col-md-5">
                            <div class="right_category_image">
                                <img class="img-responsive" src="assets/img/category_img10.jpg" alt="feature-top">
                            </div>
                            <!--carousel-->

                            <div class="right_category_image">
                                <img class="img-responsive" src="assets/img/category_img11.jpg" alt="feature-top">
                            </div>
                            <!--carousel-->

                        </div>
                        <!-- col-md-5 -->

                    </div>
                    <!-- row -->

                    <div class="entity_content">
                        <p>
                            But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I
                            will give you a complete account of the system, and expound the actual teachings of the great explorer of
                            the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself,
                            because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter
                            consequences that are extremely painful.
                        </p>
                    </div>
                    <!--entity_content-->

                </div>
                <!-- entity_wrapper -->

                <div class="entity_wrapper">
                    <div class="entity_title">
                        <h1>
                            <a href="single.html" target="_self">Airbnb launches photo-centric app for iPads and Android tablets.</a>
                        </h1>
                    </div>
                    <!-- entity_title -->

                    <div class="entity_meta">
                        <a href="#">10Aug- 2015</a>, by: <a href="#">Eric joan</a>
                    </div>
                    <!-- entity_meta -->

                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-full"></i>
                    </div>
                    <!-- rating -->

                    <div class="entity_social">
                        <a href="#" class="icons-sm sh-ic">
                            <i class="fa fa-share-alt"></i><b>424</b>
                            <span class="share_ic">Shares</span>
                        </a>
                        <a href="#" class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>
                        <!--Twitter-->
                        <a href="#" class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>
                        <!--Google +-->
                        <a href="#" class="icons-sm inst-ic"><i class="fa fa-google-plus"> </i></a>
                        <!--Linkedin-->
                        <a href="#" class="icons-sm tmb-ic"><i class="fa fa-ge"> </i></a>
                        <!--Pinterest-->
                        <a href="#" class="icons-sm rss-ic"><i class="fa fa-rss"> </i></a>
                        <span class="arrow">&raquo;</span>
                    </div>
                    <!-- entity_social -->

                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/h5Jni-vy_5M"></iframe>
                    </div>
                    <!-- entity_social -->

                    <div class="entity_content">
                        <p>
                            But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I
                            will give you a complete account of the system, and expound the actual teachings of the great explorer of
                            the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself,
                            because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter
                            consequences that are extremely painful.
                        </p>
                    </div>
                    <!--entity_content-->

                </div>
                <!-- entity_wrapper -->

                <div class="entity_wrapper">
                    <div class="entity_title">
                        <h1>
                            <a href="single.html" target="_self">Airbnb launches photo-centric app for iPads and Android tablets.</a>
                        </h1>
                    </div>
                    <!-- entity_title -->

                    <div class="entity_meta">
                        <a href="#">10Aug- 2015</a>, by: <a href="#">Eric joan</a>
                    </div>
                    <!-- entity_meta -->

                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-full"></i>
                    </div>
                    <!-- rating -->

                    <div class="entity_social">
                        <a href="#" class="icons-sm sh-ic">
                            <i class="fa fa-share-alt"></i><b>424</b>
                            <span class="share_ic">Shares</span>
                        </a>
                        <a href="#" class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>
                        <!--Twitter-->
                        <a href="#" class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>
                        <!--Google +-->
                        <a href="#" class="icons-sm inst-ic"><i class="fa fa-google-plus"> </i></a>
                        <!--Linkedin-->
                        <a href="#" class="icons-sm tmb-ic"><i class="fa fa-ge"> </i></a>
                        <!--Pinterest-->
                        <a href="#" class="icons-sm rss-ic"><i class="fa fa-rss"> </i></a>
                        <span class="arrow">&raquo;</span>
                    </div>
                    <!-- entity_social -->

                    <div class="entity_thumb">
                        <img class="img-responsive" src="assets/img/category_img12.jpg" alt="feature-top">
                    </div>
                    <!-- entity_thumb -->

                    <div class="entity_content">
                        <p>
                            But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I
                            will give you a complete account of the system, and expound the actual teachings of the great explorer of
                            the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself,
                            because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter
                            consequences that are extremely painful.
                        </p>
                    </div>
                    <!-- entity_content -->

                </div>
                <!-- entity_wrapper -->

                <div class="entity_wrapper">
                    <div class="entity_title">
                        <h1>
                            <a href="single.html" target="_self">Airbnb launches photo-centric app for iPads and Android tablets.</a>
                        </h1>
                    </div>
                    <!-- entity_title -->

                    <div class="entity_meta">
                        <a href="#">10Aug- 2015</a>, by: <a href="#">Eric joan</a>
                    </div>
                    <!-- entity_meta -->

                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-full"></i>
                    </div>
                    <!-- rating -->

                    <div class="entity_social">
                        <a href="#" class="icons-sm sh-ic">
                            <i class="fa fa-share-alt"></i><b>424</b>
                            <span class="share_ic">Shares</span>
                        </a>
                        <a href="#" class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>
                        <!--Twitter-->
                        <a href="#" class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>
                        <!--Google +-->
                        <a href="#" class="icons-sm inst-ic"><i class="fa fa-google-plus"> </i></a>
                        <!--Linkedin-->
                        <a href="#" class="icons-sm tmb-ic"><i class="fa fa-ge"> </i></a>
                        <!--Pinterest-->
                        <a href="#" class="icons-sm rss-ic"><i class="fa fa-rss"> </i></a>
                        <span class="arrow">&raquo;</span>
                    </div>
                    <!-- entity_social -->

                    <div class="entity_content">
                        <p class="blockquote">
                            But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I
                            will give you a complete account of the system, and expound the actual teachings.”
                        </p>

                        <p>
                            But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I
                            will give you a complete account of the system, and expound the actual teachings of the great explorer of
                            the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself,
                            because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter
                            consequences that are extremely painful.
                        </p>
                    </div>
                    <!-- entity_content -->

                </div>
                <!-- entity_wrapper -->

                <nav aria-label="Page navigation" class="pagination_section">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next" class="active"> <span aria-hidden="true">&raquo;</span> </a>
                        </li>
                    </ul>
                </nav>
                <!-- navigation -->
            </div>
            <!-- col-md-8 -->
        </div>
        <!-- col-md-4 -->

    </div>
    <!-- row -->
    </div>
    <!-- container -->

</section>
<!-- entity_section -->