@using GoodNewsAggregator.Models.ViewModels.News;
@*@model IEnumerable<NewsViewModel>*@
@{
    ViewData["Title"] = "All News";
}


<section id="entity_section" class="entity_section">
    <div class="container">
        < class="row align-items-start">
        @{
            @*foreach (var item in Model)
            {
                <div class="col">

                    <div class="entity_title">
                        <h2>
                            <a href="D:\it-academy\GoodNewsAggregator\GoodNewsAggregator\GoodNewsAggregator\Views\News\SingleNews.cshtml">
                                @Model.
                            </a>
                        </h2>
                    </div>

                </div>
            }*@
        }
    </div>
    <div class="row align-items-center">
        @{
            @*foreach (var item in Model)
            {
                <div class="col">
                    One of three columns
                </div>
            }*@
        }
    </div>
    <div class="row align-items-end">
        @{
            @*foreach (var item in Model)
            {
                <div class="col">
                    One of three columns
                </div>
            }*@
        }
    </div>
    <!-- main content -->


    <nav aria-label="Page navigation" class="pagination_section">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next" class="active"> <span aria-hidden="true">&raquo;</span> </a>
            </li>
        </ul>
    </nav>
    <!-- navigation -->
    </div>
    <!-- container -->

</section>
<!-- entity_section -->