@model IEnumerable<GoodNewsAggregator.Models.NewsModel>
@{
    ViewData["Title"] = "Single News";
}


<section id="entity_section" class="entity_section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="entity_wrapper">
                    <div class="entity_title">
                        <h1><a href="#">Chevrolet car-saving technology delivers 'superhuman' sight when you need it most</a></h1>
                    </div>
                    <!-- entity_title -->

                    <div class="entity_meta">
                        <a href="#" target="_self">10Aug- 2015</a>, by: <a href="#" target="_self">Eric joan</a>
                    </div>
                    <!-- entity_meta -->

                    <div class="entity_rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-full"></i>
                    </div>
                    <!-- entity_rating -->

                    <div class="entity_social">
                        <a href="#" class="icons-sm sh-ic">
                            <i class="fa fa-share-alt"></i>
                            <b>424</b> <span class="share_ic">Shares</span>
                        </a>
                        <a href="#" class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>
                        <!--Twitter-->
                        <a href="#" class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>
                        <!--Google +-->
                        <a href="#" class="icons-sm inst-ic"><i class="fa fa-google-plus"> </i></a>
                        <!--Linkedin-->
                        <a href="#" class="icons-sm tmb-ic"><i class="fa fa-ge"> </i></a>
                        <!--Pinterest-->
                        <a href="#" class="icons-sm rss-ic"><i class="fa fa-rss"> </i></a>
                    </div>
                    <!-- entity_social -->

                    <div class="entity_thumb">
                        <img class="img-responsive" src="assets/img/category_img_top.jpg" alt="feature-top">
                    </div>
                    <!-- entity_thumb -->

                    <div class="entity_content">
                        <p>
                            But I must explain to you how all this mistaken idea of denouncing pleasure and praising
                            pain was born and I will give you a complete account of the system, and expound the
                            actual teachings of the great explorer of the truth, the master-builder of human
                            happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure,
                            but because those who do not know how to pursue pleasure rationally encounter
                            consequences that are extremely painful.
                        </p>

                        <p>
                            Nor again is there anyone who loves or pursues or desires to obtain pain of itself,
                            because it is pain, but because occasionally circumstances occur in which toil and pain
                            can procure him some great pleasure. To take a trivial example, which of us ever
                            undertakes laborious physical exercise, except to obtain some advantage from it?
                        </p>

                        <blockquote class="pull-left">
                            But I must explain to you how all this mistaken idea of denouncing pleasure
                        </blockquote>
                        <p>
                            But who has any right to find fault with a man who chooses to enjoy a pleasure that has
                            no annoying consequences, or one who avoids a pain that produces no resultant pleasure?
                            On the other hand, we denounce with righteous indignation and dislike men who are so
                            beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire,
                            that they cannot foresee.Nor again is there anyone who loves or pursues or desires to
                            obtain pain of itself, because it is pain, but because occasionally circumstances occur
                            in which toil and pain can procure him some great pleasure. To take a trivial example,
                            which of us ever undertakes laborious physical exercise, except to obtain some advantage
                            from it? Nor again is there anyone who loves or pursues or desires to obtain pain of
                            itself, because it is pain, but because occasionally circumstances occur in which toil
                            and pain can procure him some great pleasure. To take a trivial example, which of us
                            ever
                        </p>

                        <p>
                            But I must explain to you how all this mistaken idea of denouncing pleasure and praising
                            pain was born and I will give you a complete account of the system, and expound the
                            actual teachings of the great explorer of the truth, the master-builder of human
                            happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure,
                            but because those who do not know how to pursue pleasure rationally encounter
                            consequences that are extremely painful.
                        </p>
                    </div>
                    <!-- entity_content -->

                    <div class="entity_footer">
                        <div class="entity_tag">
                            <span class="blank"><a href="#">Tech</a></span>
                            <span class="blank"><a href="#">Transport</a></span>
                            <span class="blank"><a href="#">Mobile</a></span>
                            <span class="blank"><a href="#">Gadgets</a></span>
                        </div>
                        <!-- entity_tag -->

                        <div class="entity_social">
                            <span><i class="fa fa-share-alt"></i>424 <a href="#">Shares</a> </span>
                            <span><i class="fa fa-comments-o"></i>4 <a href="#">Comments</a> </span>
                        </div>
                        <!-- entity_social -->

                    </div>
                    <!-- entity_footer -->

                </div>
                <!-- entity_wrapper -->

                <div class="widget_advertisement">
                    <img class="img-responsive" src="assets/img/category_advertisement.jpg" alt="feature-top">
                </div>
                <!--Advertisement-->

                <div class="readers_comment">
                    <div class="entity_inner__title header_purple">
                        <h2>Комментарии читателей</h2>
                    </div>
                    <!-- entity_title -->

                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img alt="64x64" class="media-object" data-src="assets/img/reader_img1.jpg"
                                     src="assets/img/reader_img1.jpg" data-holder-rendered="true">
                            </a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading"><a href="#">Юрий Иванов</a></h2>
                            Комментарий1

                            <div class="entity_vote">
                                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                                <a href="#"><span class="reply_ic">Ответ</span></a>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img alt="64x64" class="media-object" data-src="assets/img/reader_img2.jpg"
                                             src="assets/img/reader_img2.jpg" data-holder-rendered="true">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h2 class="media-heading"><a href="#">Администратор</a></h2>
                                    Ответ1

                                    <div class="entity_vote">
                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                                        <a href="#"><span class="reply_ic">Ответ</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- media end -->

                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img alt="64x64" class="media-object" data-src="assets/img/reader_img3.jpg"
                                     src="assets/img/reader_img3.jpg" data-holder-rendered="true">
                            </a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading"><a href="#">Виталий Иванов</a></h2>
                            Комментарий2

                            <div class="entity_vote">
                                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                                <a href="#"><span class="reply_ic">Ответ </span></a>
                            </div>
                        </div>
                    </div>
                    <!-- media end -->
                </div>
                <!--Readers Comment-->

                <div class="widget_advertisement">
                    <img class="img-responsive" src="assets/img/category_advertisement.jpg" alt="feature-top">
                </div>
                <!--Advertisement-->

                <div class="entity_comments">
                    <div class="entity_inner__title header_black">
                        <h2>Добавить комментарий</h2>
                    </div>
                    <!--Entity Title -->

                    <div class="entity_comment_from">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="inputName" placeholder="Имя">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="inputEmail" placeholder="Email адрес">
                            </div>
                            <div class="form-group comment">
                                <textarea class="form-control" id="inputComment" placeholder="Комментарий"></textarea>
                            </div>

                            <button type="submit" class="btn btn-submit red">Отправить</button>
                        </form>
                    </div>
                    <!--Entity Comments From -->

                </div>
                <!--Entity Comments -->
            </div>
        </div>
    </div>
</section>