@{
    Layout = null;
}

<form method="post">
    <label>Login</label><br />
    <input type="text" name="login">

    <p>
        <label>Password</label><br />
        <input type="password" name="password">
    </p>

    <input type="submit" value="Send">
</form>